* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'custom-font';
    src: url(Fonts/Mona-Sans-Bold.ttf);
}

a {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
    font-weight: 300;
    text-decoration: none;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0 12px 0 12px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
    font-weight: 300;
}

button {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

label {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
    font-weight: 400;
}

h1 {
    font-size: 96px;
    line-height: 120%;
    font-weight: 700;
    font-family: 'custom-font';
}

h2 {
    font-size: 28px;
    line-height: 27.08px;
    font-weight: 700;
    font-family: 'custom-font';
}

h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'custom-font';
}

h4 {
    font-size: 35px;
    line-height: 34.81px;
    font-weight: 700;
    font-family: 'custom-font';
}

h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
    font-weight: 300;

}

.logo1 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
    cursor: pointer;
}

.logo_bold {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
    font-weight: 700;
}

.navigationBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 99px;
    padding: 0 8% 0 8%;
    background-color: #fff;
}



.navigtaionbar_page_links {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navigtaionbar_page_links a:hover {
    text-decoration: underline;
}

.navigtaionbar_page_links li {
    display: inline;
    margin-left: 60px;
}

.primary-Button {
    width: fit-content;
    height: 42px;
    border: solid 1px #5d93d2;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 20px 9px 20px;
}

.primary-Button:hover,
.secondary-Button:hover,
.tertiary-button:hover {
    transform: scale(1.02);
    transition: 0.10ms;
}

.button-link {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
    font-weight: 400;
    text-decoration: none;
    color: unset;
}


.secondary-Button {
    width: fit-content;
    height: 42px;
    border: solid 1px #fff;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 9px 20px 9px 20px;
}

.tertiary-button {
    width: fit-content;
    height: 42px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 9px 20px 9px 20px;
    color: #181818;
    border-radius: 10px;
    border: none;

}


@media screen and (max-width:600px) {

    .logo1,
    .logo_bold {
        font-size: 14px;
    }
}

@media screen and (max-width:1192px) {
    h4 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }
}


/*Landing page*/
#download-button {
    margin-left: 30px;
}

.landingpage-button-container {
    display: flex;
    margin-top: 60px;
}

.highlight-effect {
    background: linear-gradient(to bottom,
            transparent 50%,
            #5D93D2 50%);
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        background: linear-gradient(to bottom,
                transparent 50%,
                #5D93D2 50%);
    }

    20% {
        background: linear-gradient(to bottom,
                transparent 50%,
                #5D93D2 50%);

    }

    40% {
        background: linear-gradient(to bottom,
                transparent 50%,
                #D25D5D 50%);
        transition: ease-out 250ms;
    }

    60% {
        background: linear-gradient(to bottom,
                transparent 50%,
                #B4D25D 50%);

    }

    80% {
        background: linear-gradient(to bottom,
                transparent 50%,
                #5DD2CB 50%);

    }

    100% {
        background: linear-gradient(to bottom,
                transparent 50%,
                #D25DB8 50%);

    }
}

.landingPage {
    width: 100%;
    height: auto;
    padding: 99px 8% 0 8%;
    overflow: hidden;
}

.landingPage_intro {
    margin-top: 30px;
    width: 535px;
}

.landing-page-1 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;


}

.landing-page-content-container {
    margin-top: 120px;

}


.image-self-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
    align-items: flex-start;


}

.image-self {
    width: 80%;
    height: 80%;
    background-image: url(Images/20210329113256_IMG_4779.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
}


/*Laptops and smaller screens*/

@media screen and (max-width: 1485px) {
    h1 {
        font-size: 86px;
    }

    .landingPage {
        width: 100%;
        height: auto;
        padding: 99px 5% 0 5%;
    }

    .navigationBar {
        padding: 0 5% 0 5%;
    }
}

/*Tablets*/

@media screen and (max-width:1180px) {

    .image-self-container {
        height: 100%;
    }

    .navigationBar {
        height: 64px;
    }


    .landing-page-content-container {
        margin-top: 60px;
    }

    h1 {
        font-size: 66px;
        line-height: 125%;
    }

    .navigtaionbar_page_links {
        display: none;
    }


    .image-self {
        width: 100%;
        height: 100%;

        background-position: center;
    }


    .landing-page-1 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: unset;
        grid-column-gap: unset;
        grid-template-rows: 1fr 1fr;

    }

    .landingPage {
        padding: 64px 5% 0 5%;
    }

}


@media screen and (max-width:600px) {
    .landingPage {
        padding: 64px 15px 0 15px;
    }

    h1 {
        font-size: 46px;
        line-height: 125%;
    }

    .landing-page-content-container {
        margin-top: 30px;
    }

    .landingPage_intro {
        width: 100%;
    }

    #download-button {
        display: none;

    }

    .navigationBar {
        padding: 0 15px 0 15px;
    }

    .image-self-container {
        display: flex;
        justify-content: center;
        width: 100%;

    }






}

/* Case studies section*/

.case-study1,
.case-study2,
.case-study3,
.case-study4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    align-items: center;
    width: 100%;
    min-height: 526px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 60px 30px 60px 94px;
}

.case-study1 {
    margin: 60px 0 0 0;
}

.case-study2,
.case-study3,
.case-study4 {
    margin: 60px 0 0 0;
}

.case-study-1-textbox {
    max-width: 325px;
    height: auto;
    color: #fff;
}


.case-study-2-textbox {
    width: 325px;
    height: auto;
    color: #fff;
}


.case-study-3-textbox {
    width: 325px;
    color: #fff;
}


.case-study-4-textbox {
    width: 325px;
    color: #fff;
}



.case-study-image-container {
    width: 100%;
    height: 100%;
    background-image: url(Images/smartphone-mockup-floating\ 1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.case-study-image2-container {
    width: 100%;
    height: 100%;
    background-image: url(Images/mockuuups-front-view-mockup-of-macbook-pro.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.case-study-image3-container {
    width: 100%;
    height: 100%;
    background-image: url(Images/MacBook\ Pro\ 16\ inch\ 1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.case-study-image4-container {
    width: 100%;
    height: 100%;
    background-image: url(Images/iPhone\ 13\ Pro\ Max\ 1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}


/*Tablets*/

@media screen and (max-width:1192px) {


    .case-study-1-textbox,
    .case-study-2-textbox,
    .case-study-3-textbox,
    .case-study-4-textbox {
        max-width: 266px;
    }

    .case-study1,
    .case-study3,
    .case-study2,
    .case-study4 {
        padding: 60px 30px 60px 42px;
    }

    .case-study-section {
        margin-top: 120px;
    }


}

@media screen and (max-width:600px) {
    h4 {
        font-size: 26px;
    }

    .case-study1,
    .case-study3,
    .case-study2,
    .case-study4 {
        width: 100%;
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: 1fr 2fr;
        padding: 30px 30px 60px 30px;
        overflow: hidden;
        align-items: flex-end;


    }

    #case-study-2-order:nth-of-type(1),
    #case-study-1-order:nth-of-type(1),
    #case-study-3-order:nth-of-type(1),
    #case-study-4-order:nth-of-type(1) {
        order: 1;
    }



    .case-study-content-conatainer {
        margin: 0;
        padding: 0;
    }

    .case-study-1-textbox,
    .case-study-2-textbox,
    .case-study-3-textbox,
    .case-study-4-textbox {
        max-width: 300px;

    }


    .case-study1,
    .case-study2,
    .case-study3,
    .case-study4 {
        margin: 30px 0 0 0;
    }


}

/*Services section*/

.services-section {
    margin-top: 120px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 120px;
}

.services-rectangle {
    display: flex;
    margin: 0 12px 12px 0;
    padding: 4px 12px 4px 12px;
    width: max-content;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: 32px;
    cursor: default;
}

.services-rectangle span {
    color: #5D93D2;
    margin-right: 10px;
}

.services-ux-design-list-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    white-space: nowrap;
}

.services-image-container {
    display: flex;
    justify-content: center;
    height: 128px;
    margin: 0px 0 60px 0;
}

#section-2 {
    margin-bottom: 60px;
}

/*Tablets*/

@media screen and (max-width:1192px) {
    .services-container {
        grid-template-columns: 1fr;
        grid-row-gap: 60px;
        grid-auto-rows: auto (1fr 1fr 1fr);


    }

    .service-containment {
        max-width: 464px;
    }

    .services-web-devlopment-container,
    .services-ui-design-container,
    .services-ux-design-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

}

/*Benefits of ux design*/
.benefits-ux-design {
    margin-top: 120px;
}

.benefits-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 60px;
    grid-column-gap: 120px;
    grid-row-gap: 30px;
    height: min-content;
}

.benefits-h3 {
    text-decoration: underline solid #5D93D2;
}

@media screen and (max-width:1192px) {
    .benefits-container-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 60px;
        grid-column-gap: 120px;
        grid-row-gap: 30px;
    }

}

@media screen and (max-width:720px) {
    .benefits-container-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}

/*Contact me section*/

.contact-me-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form-conatainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 30px;
}

.input-container-1,
.input-container-2,
.input-container-3,
.input-container-4,
.input-container-5 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.input-container-5 {
    grid-column: 1 / span 2;
}

.input-s {
    width: 100%;
    height: 42px;
}

.input-l {
    width: 100%;
    height: 298px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 12px 12px 0 12px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
    font-weight: 300;

}

.contact-image-self {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:1192px) {
    .contact-me-section {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:720px) {
    .contact-form-conatainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .input-container-1,
    .input-container-2,
    .input-container-3,
    .input-container-4,
    .input-container-5 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 30px;
    }


    h2 {
        font-size: 22px;
        font-weight: 700;
    }
}


/*footer*/

.footer {
    width: 100%;
    height: 230px;
    background-color: #181818;
    padding: 60px 11% 0 11%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-social a,
.footer-social a {
    color: #fff;
}

.footer-git p {
    color: #fff;
}

.footer-company a {
    color: #fff;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
}

.footer-git {
    display: flex;
    justify-content: center;
}

.footer-company a {
    text-decoration: underline;
    cursor: pointer;
}

.footer-social a {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width:720px) {
    .footer {
        height: 526px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .footer-social,
    .footer-git,
    .footer-company {
        display: block;
    }

    #uiDesign-rectangle-p:nth-of-type(2) {
        order: 1;
    }

    .services-rectangle {
        margin: 0 12px 12px 0;
    }
}

/*Slideshow*/


.case-study-showcase-container2 {
        width: 100%;
        height: auto;
        padding: 99px 8% 0 8%;
        overflow: hidden;
        background-color: rgba(24, 24, 24, 0.75);
       text-align: center;
       
}

    .case-study-image-container2 img {
        max-width: 100%;
        max-height: 100vh;
        background-color: #fff;
    }

    .case-study-image-container2{
        width: 100%;
        height: auto;
    } 

.case-study-navigation-bar {
    width: 100%;
    height: 99px;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 8% 0 8%;
    justify-content: flex-end;
    background-color: rgba(24, 24, 24, 0.50);
}

#close-button-icon {
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

#close-button {
    color: #fff;
}

.case-study-slideshow{
    display: none;
    position: absolute;
    z-index: 3000;
}


@media screen and (max-width:600px){
    .case-study-navigation-bar {
        width: 100%;
        height: 64px;
        position: fixed;
        display: flex;
        align-items: center;
        padding: 0 0 0 0;
        justify-content: flex-end;
        background-color: rgba(24, 24, 24, 0.50);
    }
}

@media screen and (max-width:1200px){
    .case-study-navigation-bar {
        width: 100%;
        height: 64px;
        position: fixed;
        display: flex;
        align-items: center;
        padding: 0 5% 0 5%;
        justify-content: flex-end;
        background-color: rgba(24, 24, 24, 0.50);
    }
}


