* {
    padding: 0;
    margin: 0;
    box-sizing :border-box;
   
}

html, body {
    overflow-x: hidden;
}

body {
        overflow-y: hidden;
}


body button { 
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 1px;
}

body p {
    color: white;
}
body h1 {
    font-family: bebas-neue-pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 173px;
    letter-spacing: 0.05em;
}

body h2, p{
    font-family: bebas-neue-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 36px;
    
}

body h3 {
    font-family: bebas-neue-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

body h4 {
    font-family: bebas-neue-pro, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 28px;
}
.nameBox a {
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 32px;
}

body label {
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 1px;
}




.navigationTabs a {
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 1px;
    
}

.dropDownContent a {
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
}



.navigationBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 92px;
    z-index: 1500;
    background-color: #0D0D0D;
}

.navigationSocial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navigationTabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    height: auto;
    color: white;
    margin-right: 134px;
}
.navigationTabs a {
    text-decoration: none;
    color: white;
    margin-right: 72px;
    
}
.navigationTabs a:last-child {
    margin-right: 72px;
}


.navigationTabs a:hover {
    cursor: pointer;
    color: #FFC700;
    transform: scale(1.02);
}

.wesley {
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    animation: FadeInLeft 1000ms ease 1s backwards;
}

@keyframes FadeInLeft {
    from{transform: translateX(-50px) ;
    opacity: 0;}

    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

.nameBox {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 159px;
    height: 38px;
    margin-left: 5%;
    flex-wrap: wrap;
}


.twitterNavigation, .facebookNavigation, .instagramNavigation, .linkednNavigation {
    width: 28px; 
    height: 32px;
    color: white;
    margin: 0px 5px 0px 5px;
    
}

.navigationButton {
    width: 135px;
    height: 47px;
    background-color: white;
    color: black;
    direction: unset;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    letter-spacing: 1px;
    border: none;
    outline: none;

}

.menuButton {
    display: flex;
    color: white;
    visibility: hidden;
    
}

.dropDownMenu {
   position: relative;
   display: inline-block;
}

.dropDownContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4;
    visibility: hidden;
    position: absolute;
    top: 2rem;
    right: 1rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4000;
    height: 300px;
    padding-top: 10px;
}
.dropDownContent:hover {
    color: #FFC700;
}


.dropDownContent a {
    color: black;
    font-size: 20px;
    margin-left: 10px;


}


.dropDownContent i {
    margin-left: 10px;
}


.navigationButton:hover {
    background-color: #FFC700;
    transform: scale(1.02);
    cursor: pointer;
    transition: 0.1s ease;
}

.navigationSocial a:hover {
    color: #FFC700;
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.1s ease;
}

.nameBox a:hover {
    color: #FFC700;
    cursor: pointer;
    transform: scale(1.02)
}
/*Tablet Screen*/
@media screen and (max-width: 1200px) {

    .navigationTabs #tab {
       display: none;
    }

  
    .menuButton {
        visibility: visible;
        
    }

    .dropDownMenu:hover .dropDownContent {
        visibility: visible;
      }
    
    .navigationSocial {
        display: none;
    }

    .nameBox a {
        font-size: 26px;
    }

   .mouseIcon {
       visibility: hidden;
   }

   .navigationTabs {
       display: flex;
       justify-content: flex-end;
       margin: 0;
   }
}


@media  screen and (max-width: 700px) {
    .menuButton {
        visibility: visible;
    }

    .nameBox a {
        font-size: 16px;
    }

    .dropDownMenu:hover .dropDownContent {
        visibility: visible;
      }
    
}


/*Mobile Screen Iphone 6/7/8*/ 
@media screen and (max-width: 425px) {

   
    .nameBox {
        display: flex;
        flex-direction: row;
        align-content: center;
        width: 100px;
        height: 38px;
        margin-left: 5%;
        flex-wrap: wrap;
    }

    .dropDownMenu:hover .dropDownContent {
        visibility: visible;
      }
    

    .wesley {
        font-size: 15px;
        margin-left: 15%;
        width: 100px;
    }

    .navigationTabs {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        color: white;
        margin-left:0;
    }
    .navigationBar {
        position: fixed;
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        z-index: 1500;
        background-color: ffffffffffff;
    }

    .menuButton {
        margin: 0;
        
    }
    .nameBox {
        display: flex;
        flex-direction: row;
        align-content: center;
        width: 100px;
        height: 38px;
        margin-left: 5%;
        flex-wrap: wrap;
    }
    
    .navigationTabs #tab {
        display: none;
    }
}

@media (max-height:500px) {
    .navigationBar {
        height: 60px;
    }

}



/*Landing Page*/
.landingPage_1 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    background-image: url(Images/BG\ CSS.png);
    background-size: contain;
    width: 100%;
    height: 100vh;
    padding-top: 92px;
}

.landingPage_Container1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    margin: 0px 10% 0 10%;
}

.landingPage_Container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.landingPage_Container2 div {
    display: flex;
    align-items: center;
    width: 70%;
    height: 70%;
    background-image: url(Images/Colour\ picture.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}

.landingPage_1_Description {
    color: white;
    padding-right: 10%;
    animation: FadeInLeft 1000ms ease 1s backwards;
}

.landingPage_1_Heading {
    color: white;
    animation: FadeInLeft 1000ms ease 1s backwards;
}


.landingPage_1_Button {

    margin-top: 90px;
    text-decoration: none;
    border: none;
    width: 260px;
    height: 67px;
    animation: FadeInLeft 1000ms ease 1s backwards;


}

.landingPage_1_Button:hover {
    background-color: #FFC700;
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.1s ease-in-out;
}

/*.mouseIcon{
    position: absolute;
    left: 1011px;
    top: 875px;
    color: white;
    
} */


/*Media Query Landing Page 1*/



/*Landing page 2*/

.landingPage_2 {
    width: 100%;
    height: 100%;
    background-color: #0D0D0D;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-image: url(Images/BG\ CSS.png);
    background-size: contain;
} 

.projectBox {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto auto 4fr 4fr;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-gap: 5rem;
    padding: 0 5% 0 5%;
    margin-bottom: 3%;
}

.image1, .image2, .image3, .image4, .image5, .image6 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: -3rem;
}


.landingPage_2_Heading h2 {
    color: white;
    margin-left: 125px;
}

.landingPage_2_Heading h1 {
    color: white;
}


.landingPage_2_Heading {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.subheading2 {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-auto-rows:auto;
    margin-bottom: 10px;
    margin-top: -50px;

}

.projectBox :hover {
    transform: scale(1.02);
    cursor: pointer;
}

.projectBox img {
    width: 100%;
    height: 100%;
    
} 

.subheading2 h2 {
    color: white;
}

/*Tablet Screen*/

@media screen and (max-width:1400px){

    .spanSpace1 {
        display: none;
    }
    .landingPage_1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-image: url(Images/BG\ CSS.png);
        background-size: contain;
        width: 100%;
        height: 100vh;
        padding-top: 92px;
    }

    .landingPage_1_Heading {
            font-size: 120px;
            line-height: normal;
        }
    
        .landingPage_1_Description {
            font-size: 26px;     
            margin-top: 5%;    
        }

        .projectBox h2 {
            font-size: 26px;
        }
        
        .landingPage_Container1 {
            margin: 0 10% 0 10%;
        }

        .landingPage_2 {
            justify-content: center;
            align-items: center;
        }

        .subheading2 {
            margin-top: -50px;
        }
}


@media screen and (max-width:1200px) {

    .landingPage_1 {
        padding-top: 92px;
    }

    .landingPage_Container1 {
        margin-top: 5%;
    }
    .landingPage_1_Heading, .landingPage_2_Heading {
        font-size: 100px;
        line-height: normal;
    }

    .landingPage_1_Description {
        font-size: 22px;         
    }
    

    .projectBox h2 {
        font-size: 22px;
    }
    .landingPage_2_Heading h1{
        font-size: 100px;
        line-height: 100px;
    }

    .subheading2 h2 {
        font-size: 22px;
        line-height: 22px;

    }
    .landingPage_Container2 {
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width:950px) {
    .landingPage_1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(Images/BG\ CSS.png);
        background-size: contain;
        width: 100%;
        height: 100vh;
        padding-top: 92px;
    }

    .landingPage_1_Heading {
        font-size: 100px;
        line-height:normal;
    }

    .landingPage_1_Description {
        font-size: 22px;         
    }

    .landingPage_2_Heading h1{
        font-size: 100px;
    }

    .subheading2 h2 {
        font-size: 22px;
        line-height: 22px;

    }
    .landingPage_Container2 div {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 70%;
        height: 70%;
        background-image: url(Images/Colour\ picture.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .landingPage_Container1 {
        display: flex;
        width: 100%;
        height: 100vh;
        margin: 0 10% 0 10%;
    }

    .landingPage_1_Button {
        margin-top: 10%;
    }

}

@media screen and (max-width:700px) {
    .landingPage_1 {
        display: flex;
        flex-direction: column;
        background-image: url(Images/BG\ CSS.png);
        background-size: cover;
        width: 100%;
        height: 100vh;
        padding-top: 92px;
    }
    .landingPage_Container1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 50vh;
        margin: 0px 10% 0 10%;
        flex-wrap: wrap;
        padding: 1rem;
        
    }
    .landingPage_Container2 div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 70%;
        background-image: url(Images/Colour\ picture.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .landingPage_Container2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50vh;
        flex-wrap: wrap;
    }

    .landingPage_1_Heading{
        font-size: 80px;
        line-height: normal;
        margin: 0;
    }


    .landingPage_1_Description h1{
        font-size: 16px;   
        line-height: unset;
        line-height: normal;
        
    }

    .projectBox h2 {
        font-size: 16px;
    }

    .landingPage_2_Heading h1{
        font-size: 80px;
        line-height: normal;
    }

    .subheading2 h2 {
        font-size: 20px;
        line-height: normal;

    }

    .landingPage_1_Description {
        /*padding-right: 10%;*/ 
        margin-top: 0;
        
    }
    .landingPage_1_Button {
        width: 150px;
        height: 40px;
        font-size: 18px;
        margin-top: 10%;
    }

    body {
        overflow-x: hidden;
    }

    .landingPage_2_Heading h1{
        font-size: 80px;
        line-height: normal;
    }

    .subheading2 h2 {
        font-size: 20px;
        line-height: normal;

    }

}

    /*Mobile Screen*/

    @media screen and (max-width: 425px) {
       
    
        .landingPage_1_Description {
            /*padding-right: 10%;*/ 
            margin-top: 2%;
            font-size: 20px;
            line-height: normal;
        }

        .landingPage_Container1 {
            padding-top: 0;
            padding-bottom: 0;
        }

        .landingPage_1_Heading {
            font-size: 60px;
            line-height: normal;
        }

        .landingPage_2_Heading h1{
            font-size: 60px;
            line-height: normal;
        }
    
        .subheading2 h2 {
            font-size: 20px;
            line-height: normal;
    
        }

        .landingPage_1 {
            display: flex;
            flex-direction: column;
            background-image: url(Images/BG\ CSS.png);
            background-size: cover;
            width: 100%;
            height: 100vh;
            padding-top: 60px;
        
        }

        .landingPage_Container1 {
            align-items: center;
            margin-bottom: 0;
        }

        .landingPage_1_Button {
            width: 200;
            height: 40px;
            font-size: 20px;
            margin-top: 30%;
         }

         .landingPage_Container1 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 100vh;
            margin: 0 10% 0 10%;
            flex-wrap: wrap;
            padding-right: 15%;
        }

        .landingPage_Container2 div {
            display: none;
        }

        .projectBox {
           grid-gap: 0;
        }

        .image1 h2, .image2 h2, .image3 h2 , .image4 h2 ,.image5 h2 , .image6 h2 {
            font-size: 12px;
        }

        .image1, .image2, .image3, .image4, .image5, .image6 {
          margin-top: 0;
        }
        
        .subheading2 {
            margin-top: 0;
        }

      
}

@media screen and (max-width: 320px) {
    .landingPage_1_Heading {
        font-size: 50px;
        margin-top: 0px;
        line-height: 60px;
    }

    .landingPage_1 {
        padding-top: 60px;
    }

    .landingPage_Container1 {
        padding-top: 0;
        padding-bottom: 0;
    }
}
/*Mobile Landscape*/

@media (max-height:500px) {

    .landingPage_1_Description {
        /*padding-right: 10%;*/ 
        margin-top: 2%;
        font-size: 20px;
        line-height: 30px;
        
        
    }

    .landingPage_1_Heading {
        font-size: 60px;
        line-height: 60px;
        margin-top: 1rem;
    }

    .landingPage_2_Heading h1{
        font-size: 60px;
        line-height: 60px;
    }

    .subheading2 h2 {
        font-size: 20px;
        line-height: 16px;

    }

    .landingPage_1_Button {
        width: 120px;
        height: 30px;
        font-size: 15px;
        margin-top: 10%;
    }
}

@media screen and (max-height:400px) {
    .landingPage_Container1 {
        margin-top: 60px;
    }


    .projectBox {
        justify-content: flex-start;
    }

    .landingPage_Container2 div {
        display: none;
    }

    .landingPage_Container1 {
        padding: unset;
    }
    .landingPage_1_Heading {
        margin-top: 0;
        
    }

    .landingPage_1_Description {
        font-size: 20px;
    }
}
    

/*Contact Page*/

.contactPage {
    background-image: url(Images/BG\ CSS.png);
    background-size: contain;
    width: 100%;
    height: 100vh;
    
}


.contact_HeadingWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    text-align: center;
}


/*.contactWrapper div:nth-child(odd) {
    background-color: tomato;
}*/


/*CSS Grid layout*/

/*Contact Page */



.flexContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.contact_HeadingWrapper div, .contactWrapper label {
    color: white;
}

.contact_Heading1 {
    margin-top: 4%;
}

.contactWrapper input {
    background-color: transparent;
    border: solid white;
    color: white;
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 1px;
    
}

.contactWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6;
    margin-left: 89px;
    margin-top: 45px;
    grid-row-gap: 10px ;
    width: 50%;
}

.box1, .box2, .box3, .box4, .box5, .Box6, .box6, .box7, .box8 {
    margin-bottom: 10px;
}

.box8 {
    display: grid;
    grid-auto-rows: minmax(151px,auto);
}

.nestedBox {
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

.box4 {
    display: grid;
    grid-auto-columns: 401px;
}

.submitButton {
    width: 260px;
    height: 67px;
    border: none;
}

.submitButton:hover {
    background-color: #FFC700;
    transform: scale(1.02);
    transition: 0.1s ease-in-out;
    cursor: pointer;

}

#fs-frm-inputs {
    border:none;
    outline:none;
    padding:0;
    margin:0;
    }

.nested,.nested2 {
    display: grid;
    grid-gap: 10px;
}

.contactWrapper input {
    padding: 5px;
}

/*Ipad*/
@media screen and (max-width: 1030px) {
    .contact_Heading1 h1 {
        font-size: 100px;
        margin-top:1rem;
    }

    .flexContainer img {
        margin: 1rem 2em 0 0;
      
    }

    .box6 input {
        width: 300px;
    }

    .box4 {
        grid-auto-columns: 300px;
        margin-left: 1em;
    }

    .box3 {
        margin-left: 1em;
    }


}

@media  screen and (max-width: 768px) {
    .flexContainer img {
        width: 35%;
        height: 35%;
        margin-left: 50%;
        
    }

    .contactPage {
        height: fit-content;
    }
}

/*Ipad Pro*/

@media screen and (max-width: 1024px) and (max-height: 1370px) {
    .flexContainer img {
        width: 50%;
        height: 50%;
        margin-left: 25%;
        
    }
}

@media screen and (max-width: 424px){
    .contact_Heading1 h1 {
        font-size: 60px;
        height: 120px;
    }
    .contact_Heading1 {
     margin-top: 0;
    }
    .contact_subheading1 h2 {
        font-size: 20px;
    }

    .flexContainer {
        margin-bottom: 0;
        margin-top: 2em;
        padding: 0 1rem 1rem 1rem ;
    }

    .contactWrapper {
        margin: 0;
    }

    .box2 input, .box4 input, .box6 input {
        width: 150px;
        font-size: 20px;
    }
    .box8 input {
        width: 300px;
        height: 43px;
        padding-top: 5px;
        padding-bottom: 150px;
        
    } 

    .box1 label, .box3 label, .box5 label, .box7 label {
        font-size: 20px;
    }
    
    .flexContainer img {
        display: none;
    }

    .submitButton {
        width: 200;
        height: 40px;
        font-size: 20px;
        border: none;
    }
}

/*Footer*/


.footerContainer {
    width: 100%;
    height: 379px;
    background-color: #0A0A0A;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

/*.footerContainer div:nth-child(odd) {
    background-color: #FFC700;
}*/

.footerDetails{
    color: white;
    margin: 55px 0 0 155px;
}

.footerNavigation, .footerSocials{
    color: white;
    margin-top: 55px;
    
}
.footerNavigation a {
    font-family: bebas-neue-pro, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 28px;
    text-decoration: none;
    color: white;
}
.footerNavigation ul, .footerNavigation li {
    list-style-type: none;
    margin-bottom: 20px;
    
}

.footerNavigation a:hover {
    cursor: pointer;
    color: #FFC700;
    transform: scale(1.02);
}

.footerSocials a{
    margin-right: 28px;


}
.socialDescription{
    padding-right: 1em;
    margin-bottom: 1em;
    
}
.footerSocials h3{
    margin-bottom: 20px;
   
}

.footerSocials i:hover {
    color: #FFC700;
    cursor: pointer;
    transform: scale(1.02);
}

.imageFlex {
    display: flex;
    background-color: yellow;
    width: 25%;
    height: 25%;
    margin-right: 10em ;
}

@media  screen and (max-width:950px) {
    .footerNavigation a, .footerSocials h3, .footerDetails h4, .FooterSocials a, .footerDetails h3, .socialDescription, .socials, .footerNavigation h3 {
        font-size: 22px;
    }

    .footerDetails {
        margin-top: 55px;
        margin-left: 50px;
    }
}

@media screen and (max-width:425px) {
    .footerContainer {
        width: 100%;
        height: auto;
        background-color: #0A0A0A;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .footerNavigation, .footerSocials{
        color: white;
        margin-left: 55px;
        margin-bottom: 0px;     
}
}

@media screen and (max-height: 400px){
    .footerSocials I {
        margin: 10PX;
    }
}


/*About Page*/

.aboutPage {
    width: 100%;
    height: 100vh;
    background-color: #0D0D0D;
   
}

.aboutContainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows:  1fr 2fr;
    background-image: url(Images/BG\ CSS.png);
    background-size: contain;
}

#container1 {
    grid-column: 1/ span 2;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 3em;
}

#container2 {
    margin-left: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutHeadingBox {
    display: flex;
    width: 100%;
}


#container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(Images/Self\ bw.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }


.aboutToolContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        background-color: #0D0D0D;
        padding-bottom: 2rem;

    }

.aboutToolContainer div {
    margin-top: 5rem;
    width: 25%;
    height: 100%;
}

.aboutToolContainer h2 {
    color: white;
}

@media screen and (max-width:800px) {
    #container1 h1{
        font-size: 120px;
        line-height: 120px;
        margin: 0;
    }

    #container2 p {
        font-size: 22px;   
        line-height: unset;
        line-height: 22px;
    }

    #container2 {
        padding: 10px;

    }
    #container3 {
        justify-content: flex-start;
    }

    #container1 {
        justify-content: center;
        margin: 0;
    }

}

@media  screen and (max-width: 430px){

    
    #container1 h1{
        font-size: 60px;
        line-height: 60px;
        
    }

    #container2 p {
        font-size: 20px;   
        line-height: unset;
        line-height: 20px;
    }

    .aboutContainer {
        grid-template-columns: 1fr;
        grid-template-rows:  1fr 4fr 2fr;
        background-image: url(Images/BG\ CSS.png);
        background-size: contain;
    }

    #container1 {
        align-items: flex-end;
    }

    #container2 {
        margin: 0;
        padding: 20px;
    }

    #container1 h1 {
        margin-top: 60px;
    }


    .aboutToolContainer h2 {
        font-size: 20px;
    }
}

/*FAQ Page*/

.faqPage {
    width: 100%;
    height:100vh;
    background-color: #0D0D0D;
    background-image: url(Images/BG\ CSS.png);
    background-size: contain;
}

.faqFlexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 65vh;
    align-content: flex-start;
}

.faqQuestion1, .faqAnswer1, .faqQuestion2, .faqAnswer2 , .faqQuestion3, 
.faqAnswer3, .faqQuestion4, .faqAnswer4 {
    width: 100%;
    height: 6em;
    color: white;
    padding-left: 5em;
}

.faqHeadingContainer {
    margin-top: 98px;
    width: 100%;
    height: 15em;
    padding-left: 5em;
}

.faqFlexContainer i {
    margin-right: 1em;
}

.faqFlexContainer div:nth-last-child(odd){
    color: #FFC700;
    
}

.faqAnswer1,.faqAnswer2,.faqAnswer3,.faqAnswer4 {
    margin-bottom: 1em;
    display: none;
    height: fit-content;
   
}

.faqFlexContainer h2, .faqHeadingContainer:hover {
    cursor: default;
}

.faqFlexContainer h2:hover {
    cursor: pointer;
}

/*Display on hover*/
.faqQuestion1:hover + .faqAnswer1 {
    display: block;
}
.faqQuestion2:hover + .faqAnswer2 {
    display: block;
}
.faqQuestion3:hover + .faqAnswer3 {
    display: block;
}
.faqQuestion4:hover + .faqAnswer4 {
    display: block;
}

@media screen and (max-width: 1507px) {
      .faqHeadingContainer h1 {
          font-size: 120px;
      }
}
@media screen and (max-width: 1270px) {
    .faqHeadingContainer h1 {
        font-size: 100px;
    }
}

@media screen and (max-width: 1075px) {
    .faqHeadingContainer h1 {
        line-height: 100px;
    }
    .faqFlexContainer div {
        margin: 20px;
    }
    .faqHeadingContainer h1 {
        margin: 60px 0 0 10px ;
    }   

   .faqQuestion1, .faqQuestion2,  .faqQuestion3, 
    .faqQuestion4 {
    height: 5em;
}

.faqQuestion1 {
    margin-top: 20px;
}
}

@media screen and (max-width: 425px) {
    .faqHeadingContainer h1  {
        font-size: 50px;
        line-height: 50px;
    }
    .faqFlexContainer h2{
        font-size: 20px;
        margin: 0;
    }
    .faqFlexContainer div {
        margin: 0;
    }

    .faqFlexContainer div {
        padding: 0 10px 10px;
        
    }
    .faqHeadingContainer{
        margin: 0;
        height: 12em;

    }

}
/*Project Page1 Frankies Promotional Video*/

.project1Page {
    width: 100%;
    height: 100vh;
    background-image: url(Images/BG\ CSS.png);
    background-size: contain;
}

.project1Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.project1Box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    padding-left: 97px;
    padding-right: 100px;
}

.project1Box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.project1Box2 video {
    width: 50%;
    height: 50%;
}
.project1Heading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 25%;
}

.project1Heading h1 {
    color: white;
    margin-top: 3.5%;
} 

.project1Box h2 {
    color: white;
}

@media screen and (max-width:1100px) {
    .project1Heading h1{
        font-size: 100px;

    }
    .project1Heading {
        width: 100%;
        height: 100%;
        margin-top: 3%;
          
    }
    .project1Container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-gap: 20px;
    }

    .project1Box2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }


    .project1Box2 video {
        width: 100%;
        height: 100%;
    }
    .project1Box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 40px 0 51px;
    }
}

  @media screen and (max-width:750px) {
      .project1Heading h1 {
          font-size: 80px;
      }
  }

  @media screen and (max-width:600px) {
      .project1Heading h1 {
          font-size: 60px;
          line-height: 60px;
         margin-left: 37px;
      }

      .project1Box h2 {
          font-size: 20px;
          line-height: 30px;
      }

      .project1Heading {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }

      .project1Container {
          grid-gap: 40px;
      }

      .project1Box2 video {
        width: 100%;
        height: 100%;
        padding-bottom: 5%;
    }
  }

  @media screen and (max-height:414px) {

   .project1Box h2 {
       font-size: 20px;
       line-height: 30px;

   }

   .project1Container {
       grid-gap: 0;
   }

   .project1Box {
       padding-top: 0;
       padding-bottom: 10px;
   }
  }

  @media  screen and (max-width: 414px) {
      .project1Heading h1 {
          margin-top: 10%;
      }

      .project1Container {
          grid-gap: 10px;
      }
      
  }

/*Project box 2 */

.projectPage2 {
    width: 100%;
    height: fit-content;
    background-image: url(Images/BG\ CSS.png);
    background-size: contain;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projectPage2HeadingBox {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.projectPage2Subheading {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 0px 20px 0px 51px;
    margin-bottom: 1rem;
}

.infoContainer {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.infoContainer img {
    width: 60%;
    height: 60%;
    margin-top: 1rem;
}
@media screen and (max-width:1000px) {
    .projectPage2HeadingBox h1 {
        font-size: 100px;
    }
    .projectPage2 {
        grid-template-rows: 1fr 0.25fr 3fr;
    }
}

@media  screen and (max-width:700px) {
    .projectPage2HeadingBox h1 {
        font-size: 80px;
    }
}

@media  screen and (max-width:414px) {

    .projectPage2HeadingBox h1 {
        padding: 20px;
        font-size: 60px;
        line-height: 60px;
    }
    .projectPage2Subheading h2 {
        font-size: 20px;  
    }
    .projectPage2 {
        grid-gap: 0;
    }
    .projectPage2Subheading {
        padding-top: 0;
        padding-bottom: 0;
    }

    .infoContainer img {
        width: 100%;
        height: 100%;
    }
}
/*Project 3 - Photography - CSS Grids*/

.project3_Page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    width: 100%;
    height: 100vh;
    background-image: url(Images/BG\ CSS.png);
    background-size: contain;
    background-color: #0D0D0D;
    grid-gap: 1rem;
    text-align: center;

}

.p3Grid1 {
    margin-top: 3%;
    grid-column: 1 / span 4;
}

.p3Grid5 {
    grid-row: 5/2 ;
    background-image: url(Images/Adam\ 2.jpg);
    background-size: cover;
}

.p3Grid2 {
    background-image: url(Images/Red\ Bull2.jpg);
    background-size: cover;
    background-position: center;
}

.p3Grid3 {
    background-image: url(Images/Self\ bw.jpg);
    background-size: cover;
}

.p3Grid4 {
    
    background-image: url(Images/Colour\ picture.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.p3Grid6 {
    background-image: url(Images/Adam1.jpg);
    background-size: cover;
    background-position: center;
}

.p3Grid7 {
    background-image: url(Images/Red\ Bull2.jpg);
    background-size: cover;
}

.p3Grid8 {
    background-image: url(Images/bw\ side.jpg);
    background-size: cover;
}

.p3Grid9 {
    background-image: url(Images/bw\ side.jpg);
    background-size: cover;
    background-position: center;
}
.p3Grid10 {
    background-image: url(Images/Colour\ picture.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}


@media screen and (max-width:1030px) {
    .p3Grid1 h1 {
        font-size: 100px;
        margin-top: 2rem;
    }
    .p3Grid5 {
        grid-row: 4/2 ;
        background-image: url(Images/Adam\ 2.jpg);
        background-size: cover;
        background-position: center;
    }

    .p3Grid4 {
        background-size: cover;
    }
    .project3_Page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr;
        width: 100%;
        height: fit-content;
        background-image: url(Images/BG\ CSS.png);
        background-size: contain;
        background-color: #0D0D0D;
        grid-gap: 1rem;
        text-align: center;
    }
}

    @media screen and (max-width: 414px) {

        .project3_Page {
            height: 100vh;
        }
        .p3Grid1 h1{
            font-size: 60px;
            margin-top: 0;
        }

        .p3Grid1 h2 {
            font-size: 20px;
        }

        .p3Grid9  {
            background-position: center;
        }
    }

/*Project Page 4 - Character Design Page*/

.project4_Page {
    background-image: url(Images/BG\ CSS.png);
    background-size: contain;
    width: 100%;
    height: 100vh;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-row-gap: 10px;
}

.project4_Heading  {
    margin-top: 4%;
    display: flex;
    grid-column: 1 /span 3;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.p4Flex1 {
    background-image: url(Images/Character\ Design\ 1.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.p4Flex2 {
    background-image: url(Images/Character\ Design\ 4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.p4Flex3 {
    background-image: url(images/Character\ Design\ 3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.p4Flex4 {
    background-image: url(Images/Character\ Design\ 2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.p4Flex5 {
    background-image: url(Images/Character\ Design\ 5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.p4Flex6 {
    background-image: url(images/Character\ Design\ 6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width:1024px) {
    .project4_Heading h1 {
        font-size: 100px;
    }

}

/*project5 Page - Illustration*/

.project5_Page {
    background-image: url(Images/BG\ CSS.png);
    background-size: contain;
    background-color: #0D0D0D;
    width: 100%;
    height: 100vh;
    
}

.project5_Heading {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center;
    width: 100%;
    height: 35%;
    padding: 3%;
    
}

.project5_Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100vh;
    grid-gap: 10px;
}

.illustration1 {
    background-image: url(Images/Illustration2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.illustration2 {
    background-image: url(Images/Illustration3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
   
}


@media  screen and (max-width: 1024px) {
    .project5_Heading h1 {
        font-size: 100px;
        padding-top: 5%;
    }
    
    .project5_Container {
        margin-top: 15%;
    }
}

@media screen and  (max-width:768px) {
    .project5_Container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr ;
        width: 100%;
        height: 100vh;
        grid-gap: 0;
    }

    .project5_Page {
        height: fit-content;
    }
    .project5_Heading {
        padding-bottom: 0;
    }
}

@media screen and (min-height: 1366px){
    .project5_Container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr ;
        width: 100%;
        height: 100vh;
        grid-gap: 0;
    }

    .project5_Page {
        height: fit-content;
    }

    .project5_Heading {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 424px) {
    .project5_Heading h1 {
        font-size: 60px;
    }

    .project5_Heading h2 {
        font-size: 20px;
    }

    .project5_Heading h1 {
        width: 100%;
        height: 150px;
        padding: 3%;
        align-items: center;
        
    }

    .illustration1 {
        background-image: url(Images/Illustration2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .illustration2 {
        background-image: url(Images/Illustration3.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -20%;
    }

    
}